repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@^3.2.5
          - prettier-plugin-astro@^0.13.0
          - prettier-plugin-organize-imports@^3.2.4
          - prettier-plugin-tailwindcss@^0.5.14
