---

---

<div class="group relative">
  <a
    href="https://github.com/thedch/website/blob/master/README.md"
    target="_blank"
    rel="noopener noreferrer"
    class="underline transition-colors duration-200 hover:no-underline"
  >
    about this website
  </a>

  <!-- Tooltip -->
  <div
    class="pointer-events-none absolute bottom-full left-1/2 z-10 mb-2 -translate-x-1/2 transform whitespace-nowrap rounded-lg bg-gray-900 px-3 py-2 text-sm text-white opacity-0 shadow-lg transition-opacity duration-200 group-hover:opacity-100 dark:bg-gray-100 dark:text-gray-900"
  >
    <div>
      Built with <span class="font-medium text-orange-300 dark:text-orange-600"
        >Astro</span
      > and
      <span class="font-medium text-orange-300 dark:text-orange-600"
        >Cloudflare Workers</span>
    </div>
    <div class="mt-1 text-xs opacity-75">Click for more info</div>

    <!-- Tooltip arrow -->
    <div
      class="absolute left-1/2 top-full h-0 w-0 -translate-x-1/2 transform border-l-4 border-r-4 border-t-4 border-l-transparent border-r-transparent border-t-gray-900 dark:border-t-gray-100"
    >
    </div>
  </div>
</div>
