---
import type { Heading } from "./TableOfContents.astro";
import Link from "./Link.astro";

// https://kld.dev/building-table-of-contents/

const { heading } = Astro.props;
---

<li class="flex items-start px-6 py-1.5 text-sm">
  <span class="mr-2">•</span>
  <Link href={"#" + heading.slug} underline class="flex-1">
    {heading.text}
  </Link>
  {
    heading.subheadings.length > 0 && (
      <ul class="w-full pl-4 mt-1.5">
        {heading.subheadings.map((subheading: Heading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>