---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import TableOfContents from "@components/TableOfContents.astro";

const projects = await getCollection("projects");
const project = projects.find((project) => project.slug === Astro.params.slug);

if (!project) return Astro.redirect("/404");

const { Content, headings } = await project.render();
---

<Layout title={project.data.title}>
  <Container>
    <div class="animate">
      <BackToPrevious href="/projects">Back to projects</BackToPrevious>
    </div>
    <div class="my-10 space-y-1">
      <h1 class="animate text-3xl font-semibold text-black dark:text-white">
        {project.data.title}
      </h1>
    </div>
    <TableOfContents headings={headings} />
    <article class="animate mt-6">
      <Content />
    </article>
  </Container>
</Layout>
